{% extends "base.html" %}
{% block content %}
<form method="POST" class="post-form" action="/update/{{ certificate.id }}">
    {% csrf_token %}
    <h2>Update Certificate</h2>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Domain (FQDN):</label>
            <div class="col-sm-4">
                <input type="text" name="cert_id" id="cert_id" required maxlength="50" value="{{ certificate.domain }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Maintainer:</label>
            <div class="col-sm-4">
                <input type="text" name="cert_maintainer" id="cert_maintainer" required maxlength="100" value="{{ certificate.maintainer }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Send Notification:</label>
            <div class="col-sm-4">
                <input type="checkbox" name="cert_notification" id="cert_notification"
                       value="{{ cert.notify }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
</form>
{% endblock %}