{% extends "base.html" %}
{% block content %}
<form method="POST" class="post-form" action="/web">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Enter Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Domain (FQDN):</label>
            <div class="col-sm-4">
                {{ form.domain }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Name:</label>
            <div class="col-sm-4">
                {{ form.maintainer }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Email:</label>
            <div class="col-sm-4">
                {{ form.eemail }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Contact:</label>
            <div class="col-sm-4">
                {{ form.econtact }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAL 9000</title>
</head>
<body>
<h1>Certificate</h1>
<ul>
{% for certificate in certificate_list %}
    <li>{{ certificate.domain }}</li>
{% endfor %}
</ul>
<h1>Software</h1>
<ul>
{% for software in software_list %}
    <li>{{ software.name }}</li>
{% endfor %}
</ul>
</body>
</html>
-->